@model HomeViewModel

<partial name="../Shared/_Carousel.cshtml">

<h2>Preferred foods of the week</h2>
<h4>Cliet preferences</h4>

<div class="row">
    @foreach(var food in Model.PreferredFoods)
        {
            <partial name="../Shared/_FoodSummary.cshtml" for="PreferredFoods"></partial>
        }
    </div>
