<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/site.css" rel="stylesheet" />
    <script defer src="~/lib/jquery/dist/jquery.js"></script>
    <script defer src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <title>Fast Food</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="navbar-header">
               
                <a asp-controller="Home" asp-action="Index">Fast Food</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    @await Component.InvokeAsync("CategoryMenu")
                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                    @await Component.InvokeAsync("ShoppingCartSummary")
                </ul>
                @await Html.PartialAsync("_LoginPartial")
                <form class="navbar-form navbar-right" asp-controller="Food" asp-action="Search" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for a food" name="searchString" value="@ViewData["searchString"]">
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div class="container body-content" style="padding:50px;">
        @RenderBody()
        <hr />
       
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>